version: "3.9"

services:



  app1:
    build: .
    container_name: app1

  app2:
    build: .
    container_name: app2

  app3:
    build: .
    container_name: app3

  haproxy:
    image: haproxy:2.7
    container_name: haproxy
    ports:
      - "80:80"
    depends_on:
      - app1
      - app2
      - app3
    volumes:
      - ./haproxy/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg
