version: "3.9"

services:

  nginx:
    image: nginx:alpine
    container_name: nginx_lb
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app1
      - app2
      - app3

  app1:
    build: .
    container_name: app1

  app2:
    build: .
    container_name: app2

  app3:
    build: .
    container_name: app3
